//We need to create primary and secondary button styles, where following are the properties in //common.

  .common{
      border-radius: 3px;
      padding: 12px 15px 12px 15px;
      background-color: #8bc34a;
      border: 0;
        min-width: 110px;
      font-family: "SegoeUI SemiBold";
      font-size: 16px;
      color: #FFFFFF;
}

@mixin colr($bgc,$clr){
    background-color: $bgc;
    color: $clr
}

//Primary button shall have following specifications:
.primary{
    @extend .common;
    @include colr(#8bc34a,#FFFFFF);
    border: 1px solid #8bc34a;
}

//Primary button on Hover shall have following classes:
primary:hover{
    @extend .common;
    @include colr(#9dce5d,#FFFFFF);
    border: 1px solid #9dce5d;
}

//Primary button when disabled shall have following classes:
.primaryDisable{
    @extend .common;
    @include colr(#eeeeee,#999999);
    border: 1px solid #eeeeee;
}

//Secondary Button shall have following classes in addition to base properties
.secondary{
    @extend .common;
    @include colr(#ffffff,#2095f2);
    border: 1px solid #2095f2;
}

//Secondary button on hover shall have following classes:
secondary:hover{
    @extend .common;
    @include colr(#2095f2,#FFFFFF);
    border: 1px solid #2095f2;
}

//Secondary button when disabled shall have following classes:
.secondaryDisabled{
    @extend .common;
    @include colr(#FFFFFF,#999999);
    border: 1px solid #cccccc;
}

//use the compiled CSS generated in an sample html and sample page shall look like below and //shall have all added effects on the control  (effect on hover, disabled etc)
