@mixin input-button($bg-color , $clr ,$bd-clr:#ccc){
  Border-radius: 3px;
  padding: 12px 15px 12px 15px;
  Background-color: $bg-color;
  border: 1px solid $bd-clr;
  min-width: 110px;
  font-family: "SegoeUI SemiBold";
  font-size: 16px;
  color: $clr;

  
}