

/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  }

body{
	font-size :16px;
	font-family: 'Source Sans Pro', sans-serif;
}

h1{

	color :red;
}
