.pnormal{
  
  @extend %button-styles;
  background-color:#8bc34a;
  color:#FFFFFF;
  border: 1px solid #8bc34a;
  
}
.phover:hover{
  @extend %button-styles;
  background-color:#9dce5d;
  color:#ffffff;
  border: 1px solid #9dce5d;
}

.pdisabled{
  @extend %button-styles;
  background-color:#eeeeee;
  color:#999999;
  border: 1px solid #eeeeee;
}

.snormal{
  
  @extend %button-styles;
  background-color:#ffffff;
  color:#2095f2;
  border: 1px solid #2095f2;
  
  
}
.shover:hover{
  @extend %button-styles;
  background-color:#2095f2;
  color:#ffffff;
  border: 1px solid #2095f2;
}

.sdisabled{
  @extend %button-styles;
  background-color:#ffffff;
  color:#999999;
  border: 1px solid #cccccc;
}