#wrapper{
	background-color : #ebebe0;
	width : 960px;
	height : 2400px;
	margin : 0 auto;
	border : 1px solid #000;
}
#sub-wrapper{
	max-width : 800px;
	margin : 0 auto;
	border : 1px solid #000;
}

div.main{
	height:120px;
}

div.head{
	position :absolute;
	margin-left : 100px;
	top : 20px;
	width : 250px;
	height : 80px;
	text-align : right;
	font-family : Comic Sans MS;
	color:#000;
}

div.head h1{
	position :absolute;
	right:0;
	font-family : Comic Sans MS;
	color:#ff471a;

}

div.sub-head{
	position : relative;
	top : 55px;
	
}
div.sub-head p{
	text-align : right;
	font-size : 8px;
}

/*div.navi{
	position : relative;
	width : 270px;
	left : 400px;
	top : 55px;
	margin-right : 10px;
}

div.navi ul{
	list-style-type:none;
	color : #000;
	
}

div.navi li{
	font-size : 9px;
	display : inline-block;
	padding : 5px;
}

*/
div.second{
	position : absolute;
	top : 132px;
	height : 400px;
	width : 960px;
}

.second img{

	width : 100%;
	height : 100%;
}

div.one p{
	position : absolute;
	top : 50px;
	left : 150px;
	width : 150px;
	height : 30px;
	padding : 5px;
	background-color : #000;
	font-size : 20px;
	border-radius : 7px 0 7px 0;
	color : #fff;
	text-align : center;
	
}

div.secnd p{
	position : absolute;
	top : 110px;
	left : 150px;
	width : 300px;
	height : 100px;
	padding : 7px;
	background-color : #ccccb3;
	font-size : 15px;
	border-radius : 7px;
}

div.three button{
	position : absolute;
	top : 250px;
	left : 150px;
	width : 110px;
	height : 30px;
	background-color : #ff471a;
	border-radius : 7px;
	color : #fff;
	font-size : 15px;
	text-align : justify-all;
	
}