/* line 1, ../sass/modules/_buttons.scss */
.pnormal {
  Border-radius: 3px;
  padding: 12px 15px 12px 15px;
  Background-color: #8bc34a;
  border: 1px solid #8bc34a;
  min-width: 110px;
  font-family: "SegoeUI SemiBold";
  font-size: 16px;
  color: #FFFFFF;
}

/* line 6, ../sass/modules/_buttons.scss */
.phover:hover {
  Border-radius: 3px;
  padding: 12px 15px 12px 15px;
  Background-color: #9dce5d;
  border: 1px solid #9dce5d;
  min-width: 110px;
  font-family: "SegoeUI SemiBold";
  font-size: 16px;
  color: #ffffff;
}

/* line 10, ../sass/modules/_buttons.scss */
.pdisabled {
  Border-radius: 3px;
  padding: 12px 15px 12px 15px;
  Background-color: #eeeeee;
  border: 1px solid #eeeeee;
  min-width: 110px;
  font-family: "SegoeUI SemiBold";
  font-size: 16px;
  color: #999999;
}

/* line 14, ../sass/modules/_buttons.scss */
.snormal {
  Border-radius: 3px;
  padding: 12px 15px 12px 15px;
  Background-color: #ffffff;
  border: 1px solid #2095f2;
  min-width: 110px;
  font-family: "SegoeUI SemiBold";
  font-size: 16px;
  color: #2095f2;
}

/* line 19, ../sass/modules/_buttons.scss */
.shover:hover {
  Border-radius: 3px;
  padding: 12px 15px 12px 15px;
  Background-color: #2095f2;
  border: 1px solid #2095f2;
  min-width: 110px;
  font-family: "SegoeUI SemiBold";
  font-size: 16px;
  color: #ffffff;
}

/* line 23, ../sass/modules/_buttons.scss */
.sdisabled {
  Border-radius: 3px;
  padding: 12px 15px 12px 15px;
  Background-color: #ffffff;
  border: 1px solid #cccccc;
  min-width: 110px;
  font-family: "SegoeUI SemiBold";
  font-size: 16px;
  color: #999999;
}
