.Registn_form
{
	width : 600px;
	margin : 0 auto;
	border-radius : 7px;
	background-color : #001a33;
}
h1
{
	margin-left : 200px;
}

sup
{
	color : red;
}
form
{
	width : 500px;
	margin : 0 auto;
	padding : 5px;
	color : #fff;
}

input
{
	width : 500px;
}


#registr_btn
{
	width : 500px;
	height : 30px;
	background-color : #ff9900;
}

#form label.error 
{
	color:red;
}
#form input.error
 {
	border:1px solid red;
}