

#page-wrap{
	
	width : 800px;
	margin : 0 auto;

}
/*First Div.*/

div.main{
	width:1024px;;
	height:105px;
	background-color:#ebebe0;
	}



h1{
	position :absolute;
	top : 15px;
	left : 350px;
	font-family : Comic Sans MS;
	float : right;
	color:#ff471a;

}

h5{
	position :absolute;
	top : 58px;
	left :325px;
	font-family : Comic Sans MS;
	font-size : 10px;
	color:#000;
	//top : 80px;
}



nav.bar{
	position : absolute;
	right :100px;
	top : 80px;
	font-size : 15px;

}

/*Second Div*/

div.second{
	position : absolute;
	width : 1024px;
	top : 110px;
	height : 100px;

}

div.one p{
	position : absolute;
	top : 60px;
	left : 150px;
	width : 150px;
	height : 30px;
	padding : 5px;
	background-color : #000;
	font-size : 20px;
	border-radius : 7px 0 7px 0;
	color : #fff;
	text-align : center;
	
}

div.secnd p{
	position : absolute;
	top : 110px;
	left : 150px;
	width : 300px;
	height : 100px;
	padding : 7px;
	background-color : #ccccb3;
	font-size : 15px;
	border-radius : 7px;
}

div.three button{
	position : absolute;
	top : 250px;
	left : 150px;
	width : 110px;
	height : 30px;
	background-color : #ff471a;
	border-radius : 7px;
	color : #fff;
	font-size : 15px;
	text-align : justify-all;
	
}

div.third{
	position : absolute;
	top : 510px;
	width : 1024px;
	height : 60px;
	background-color : #ff704d;
}
 div.third p{
	color : #fff;
	text-align : center;
 }
 
 div.third input{
	position : absolute;
	top : 10px;
	right : 200px;
	width : 100px;
	height : 20px;
	color : #000;
	font-size : 12px;
	border-radius : 3px;
	
 }
 
 div.third button{
	position : absolute;
	top : 10px;
	right : 110px;
	width : 80px;
	height : 25px;
	background-color : #000;
	border-radius : 7px;
	color : #fff;
	font-size : 15px;
	text-align : justify-all;
 }
 
 section.fourth{
	position : absolute;
	top : 570px;
	width:1024px;
	height:200px;
	display : flex;
	
	background-color:#ebebe0;
 }
 
 section.fourth img{
 
	float : left;
	margin : 10px;
	width : 50px;
	height : 50px;
	
 }
 section.fourth p {
	position : absolute;
	right : 0;
	left : 55px;
	float : right;
	margin : 10px;
	font-size : 12px;
	font-family : arial;
 
 }
 
 article.f1{
		position :absolute;
		left :150px;
		top :	50px;
		height : 200px;
		width : 200px;
		
 
 }
 
 article.f1 p {
	
	word-break : keep-all;
 
 }
 
 article.f2{
		position :absolute;
		left : 400px;
		top :	50px;
		height : 200px;
		width : 200px;
		
 
 }
 
 article.f2 p {
	
	word-break : keep-all;
	white-space : nowrap;
	overflow: hidden;
    text-overflow: ellipsis; 
	
 }
 
 
article.f3{
		position :absolute;
		left :650px;
		top :	50px;
		height : 200px;
		width : 200px;
		
		
 }
 article.f3 p {
	word-break : keep-all;
 
 }
 
 div.fifth{
	display : flex;
	position : absolute;
	top : 770px;
	width : 1024px;
	height : 300px;
	background-color :#ebebe0;
	
} 
div.fifth h3{
	position : absolute;
	left : 150px;
	border-bottom : 1px dotted #000;
	width : 874px;

}

div.imggalary{
	position : relative;
	left : 150px;
	top : 50px;
	width : 150px;
	height : 200px;
	margin : 10px;
	margin-bottom : 20px;

}

div.imggalary img {
	position :absolute;
	width : 150px;
	height : 100px;
	}

div.container h4{
	position : absolute;
	top : 110px;
	border-bottom : 1px dotted #000;
	width : 150px;
	font-size : 10px;
	font-style : bold;
}

div.container p{
	position : absolute;
	top : 130px;
	font-size : 10px;
}
	
div.sixth{
	position : absolute;
	top : 1070px;
	height : 300px;
	width : 1024px;
	background-color :#ebebe0;
	
}

div.s1{
	position : absolute;
	left : 150px;
	height : 300px;
	width : 300px;
	
}

div.s1 h3{
	width : 50%;
	border-bottom : 1px dotted #000;
}

div.s1 p{
	position : absolute;
	margin : left;
	padding : 0px 10px;
	text-align : justify-all;
	font-size : 14px;
	word-break : keep-all;
	overflow : hidden;

}

div.s2{
	position : absolute;
	top : 30px;
	left : 500px;
	height : 300px;
	width : 300px;
	
}

div.s2 img{
	position : absolute;
	height : 70px;
	width : 70px;
	float : left;
}

div.s2 p{
	position : absolute;
	left : 100px;
	float : right;
}


div.s21{
	
	position : absolute;
	height : 150px;
	width : 300px;

}


div.s22{
	
	position : absolute;
	top : 150px;
	height : 150px;
	width : 300px;

}


 div.seventh{
	position : absolute;
	top : 1370px;
	width:1024px;
	height:210px;
	background-color:grey;
 }
 
 div.seventh h3{
		border-bottom : 1px dotted black;
		
 }
 
 div.sv1{
	position : absolute;
	left : 150px;
	width  : 200px;
	height : 200px;
	margin : 10px;
	padding : 10px;
	font-size : 15px;
 }
 
 div.sv2{
	position : absolute;
	left : 400px;
	width  : 200px;
	height : 200px;
	margin : 10px;
	padding : 10px;
 }
 
 div.sv2 ul li{
	list-style-type : none;
	border-bottom : 1px dotted #000;
	font-size : 15px;
}

div.sv2 ul li img{
	position : absolute;
	left : 0px;
	width : 15px;
	height : 15px;
}
 
 
 
 div.sv3{
	position : absolute;
	left : 650px;
	width  : 200px;
	height : 200px;
	margin : 10px;
	padding : 10px;
 }
 
 div.sv3 ul li{
	list-style-type : none;
	margin : 5px;
	font-size : 15px;
}

div.sv3 ul li img{
	position : absolute;
	left : 0px;
	width : 40px;
	height : 35px;
}

div.eighth{
			 position: absolute;
			 top : 210px;
			height : 50px;
            background-color: #333;
            width: 100%;
            bottom: 0;
           
        
}

div.eighth p{
	position : absolute;
	left : 200px;
	font-size : 10px;
	color : #fff;
}

div.eighth ul li {
	list-style-type:none;
	margin:0;
	padding:10px;
	float:right;
	background-color : grey;
	
}
div.eighth ul li {
	
	top : 15px;
	background-color : grey;
	display:inline-block;
	display:image;
	width : 15px;
	height : 15px;
	}